@font-face {
    font-family: 'CAITLYNRegular';
    src: url('fonts/caitlin-webfont.eot');
    src: url('fonts/caitlin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caitlin-webfont.woff') format('woff'),
         url('fonts/caitlin-webfont.ttf') format('truetype'),
         url('fonts/caitlin-webfont.svg#CAITLYNRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

article, aside, dialog, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

body {
  width: 100%;
  background-image: url("images/tlo_bloga.png");
  font-family: "DejaVu Sans", sans-serif;
}

#main_header {
  width: 100%;
  min-width: 1000px;
  height: 48px;
  background: url("images/header.png") repeat-x scroll 0 0 #1C87FF;
  font-family: CAITLYNRegular;
  font-size: 32px;
  border-bottom: 1px solid #3377AA;
}

#main_header a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

#wrapper, #posts {
	background-color: rgba(190, 200, 255, 0.7);
	width: 968px;
	margin: 8px auto;
	padding: 16px;
	border: 1px solid #3366AA;
	border-radius: 16px;
}

h1 {
	background-color: rgba(30, 165, 255, 0.25);
	border-radius: 12px;
	padding: 4px 8px;
	font-size: 26px;
	font-weight: bold;
	color: #444444;
	text-shadow: 0 0 0.3em #FFFFFF;
}

#wrapper article > ul li {
  list-style: none;
}

article {
	width: 900px;
  	background-color: rgba(102, 153, 255, 0.6);
  	border: 1px solid #3366AA;
  	border-radius: 16px 16px 0 0;
  	margin: 12px auto;
  	padding: 0 8px 1px 8px;
}

#wrapper article > h2, #posts article > h1 {
  font-size: 26px;
  color: #EEEEFF;
  margin: 0;
}

#posts h2 {
  font-size: 22px;
  padding-bottom: 2px;
  border-bottom: 2px dotted #489690;
  width: 400px;
}

aside {
  font-size: 90%;
  font-family: "DejaVu Sans", sans-serif;
  font-style: normal;
  width: 253px;
  float: right;
  padding: 18px 22px 0 22px;
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 12px;  
  color: #800;
  margin: 6px;
}

aside img {
  margin: 0 auto 12px auto;
  display: block;
}

aside p.author {
  margin-top: -1em;
  padding-right: 44px;
  color: #800;
  font-style: italic;
  text-align: right;
}

pre code {
  border: none;
}

pre {
  font-size: 90%;
  border-left: 6px solid #1C87FF;
}

.highlight {
  background-color: rgba(240, 240, 240, 0.5);
}